.card-header {
    width: 35vh;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    margin:  10px;
text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}