.card-header {
    width: 30vh;
    background-color: rgb(236, 146, 29);
    margin: auto;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

main {

    display: grid;
    place-items: center;
    margin: 100px;
    height: 30vh;
}
