
.card-header {
    width: 30vh;
    background-color: rgb(63, 236, 29);
    margin: auto;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

main {

    display: grid;
    place-items: center;
    margin: 100px;
    height: 30vh;
}

p{
    color:blue;
    background-color: rgb(114, 246, 114);
}

